[submodule "vendor/libchromiumcontent"]
	path = vendor/libchromiumcontent
	url = git@github.com:electron/libchromiumcontent.git
[submodule "vendor/gyp"]
	path = vendor/gyp
	url = git@github.com:electron/gyp.git
[submodule "vendor/google-styleguide"]
	path = vendor/google-styleguide
	url = git@github.com:svn2github/sgss-mirror-google-styleguide.git
